<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8" />
    <title>Astra2.0</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/styles.css" />
</head>

<body>
    <nav class="navbar navbar-light bg-light px-5">
        <nav class="navbar navbar-expand-lg navbar-light bg-light w-100">
            <div class="container-fluid w-100 justify-content-center">
                <a class="navbar-brand" href="/">
                    <img src="images.jpeg" alt="" width="30" height="24" class="d-inline-block align-text-top" />
                    Astra
                </a>

                <div class="d-flex justify-content-end" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/register">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Login</a>
                        </li>
                        <li class="nav-item me-4">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                        <li class="nav-item me-4">
                            <a class="nav-link" href="/posts">Posts</a>
                        </li>
                    </ul>
                    <!-- <span class="navbar-text">
                        Navbar text with an inline element
                    </span> -->
                </div>
            </div>
        </nav>
    </nav>